{{define "currentWeather" -}}
<div id="current_temperature">{{.Temperature}}</div>
<div id="aux-weather-info">

		<span><img alt="" src="/sunrise.png" width="22" />&nbsp;{{.Sunrise}}&nbsp;&nbsp;</span><span><img alt="" src="/sunset.png" width="22" />&nbsp;{{.Sunset}}</span>

	<div id="current_pressure">{{.Pressure}} hPa</div>
	<div id="current_humidity">{{.Humidity}} hum</div>
	{{- if .ShowTempTime}}
		<div id="current_temperature_time" style="color: rgba(255, 0, 0, 0.35)">{{.TempTimeStr}}</div>
	{{- end}}
</div>
{{- end}}
