{{define "hourlyForecast" -}}
{{if not .Forecasts -}}
<div class="weather"></div>
{{- else -}}
<div class="weather">
	{{- range .Forecasts}}
	<tl-forecast class="{{if .Raining}}raining{{end}}">
		<div class="zeroLine" style="bottom: {{$.ZeroLineBottom}}%; display: {{$.DisplayZeroLine}};"></div>
		<div class="rain" style="height: {{.RainHeight}}%;"></div>
		{{- if .Raining}}
		<img class="rainWave" alt="rain" src="{{.WaveSrc}}" style="bottom: {{.RainHeight}}%;" />
		{{- end}}
		<div class="forecastMovablePart" style="bottom: {{.Bottom}}%;">
			{{- if .IconSrc}}
			<img class="weather_icon" alt="symbol" src="{{.IconSrc}}" style="filter: url(#shape-shadow);" />
			{{- end}}
			<div class="temperature">{{.Temperature}}&deg;</div>
			<div class="forecastProb">
				{{- if .ShowProb}}
					{{.Probability}}%<br />{{.Amount}}mm
				{{- else}}
					&nbsp;<br />&nbsp;
				{{- end}}
			</div>
			{{- if .ShowWind}}
			<div class="wind-indicator">
				<svg class="wind-arrow" viewBox="0 0 24 24" style="transform: rotate({{.WindDirection}}deg);">
					<path d="M12 2 L8 10 L11 9 L11 22 L13 22 L13 9 L16 10 Z" fill="currentColor"/>
				</svg>
				<span class="wind-speed">{{.WindSpeed}}{{if .ShowGust}}&nbsp;({{.WindGust}}){{end}}</span>
			</div>
			{{- end}}
		</div>
		<div class="time">{{.Hour}}</div>
	</tl-forecast>
	{{- end}}
	<div class="minTemp">{{.Min}}</div>
	<div class="maxTemp">{{.Max}}</div>
</div>
{{- end}}
{{- end}}
