{{define "power" -}}
	<strong>{{.Header}}</strong>
	{{- if .HasData}}
	<table class="footerTable">
		<tbody>
			<tr><td>Forbruk</td><td>Kost</td><td>Pris</td></tr>
			<tr>
				<td>{{.Usage}}</td>
				<td>{{.Cost}}</td>
				<td>{{.Price}}</td>
			</tr>
			<tr class="monthlyStatus">
				<td>{{.MonthlyStatus}}</td>
				<td>{{.MonthlyCost}}</td>
				<td style="color: {{.PriceColor}}">{{.PriceStatus}}</td>
			</tr>
		</tbody>
	</table>
	<div class="powerShow">
		<div class="powerBar" style="background-color: {{.BgColor}}; width: {{.PowerWidth}}%">
			{{.PowerDisplay}}&nbsp;kW
		</div>
		<div class="maxBar" style="width: {{.MaxWidth}}%"></div>
		<div class="avgBar" style="width: {{.AvgWidth}}%"></div>
		<div class="minBar" style="background-color: {{.MinBgColor}}; width: {{.MinWidth}}%"></div>
	</div>
	{{- end}}
{{- end}}
