CAL_ID_AUDUN=x
CAL_ID_BARNEUKER=x
CAL_ID_BURSDAG=x
CAL_ID_FELLES=x
CAL_ID_MIDDAG=x
EXPOSE_PORT=3000
GOOGLE_KEY_B64=x
MQTT_HOST=x
MQTT_PASS=x
MQTT_USER=x
TIBBER_ID_CABIN=96a14971-525a-4420-aae9-e5aedaa129ff
TIBBER_ID_HOME=96a14971-525a-4420-aae9-e5aedaa129ff
TIBBER_KEY=3A77EECF61BD445F47241A5A36202185C35AF3AF58609E19B53F3A8872AD7BE1-1
# Only used by docker-compose.yml (name of the external Docker network)
NETWORK_NAME=x
