@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$light_weight: 100;
$font_weight: 200;
$bold_weight: 300;
$text_huge: 170px;
$text_large: 75px;
$text_subheader: 25px;
$text_size: 20px;
$text_small: 14px;
$grid_margin: 15px;
$margin: 10px;
$white: #fdf6e3;
$gray: #555555;
$light_gray: #c0c0c0;

* {
	box-sizing: border-box;
}

body {
	cursor: none;
	display: grid;
	grid-template-columns: 30% 30% 1fr;
	grid-template-rows: 30% 53% 1fr;
	row-gap: $grid_margin;
	column-gap: $grid_margin;
	grid-template-areas:
		'time_and_date current_weather calendar'
		'weather_nowcast weather_nowcast calendar'
		'bottom-boxes bottom-boxes calendar';
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	font-weight: $font_weight;
	font-size: $text_size;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	height: 100vh;
	width: 100vw;
	padding: $grid_margin;
	margin: 0;
	background-color: $white;
}

clock,
currentweather {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
}

#now_time,
#current_temperature {
	align-items: center;
	display: flex;
	flex: 3;
	font-size: $text_huge;
	font-weight: $light_weight;
	height: 100%;
	justify-content: center;
	width: 100%;
}

#date_week,
#aux-weather-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 2;
	justify-content: center;
}

clock {
	grid-area: time_and_date;
	#date_week {
		#now_date {
			font-size: $text_large;
		}
		#now_week {
			margin-top: 0.5em;
			font-size: $text_subheader;
		}
	}
}

currentweather {
	grid-area: current_weather;
}

calendar {
	container-type: size;
	container-name: calendar-v;
	grid-area: calendar;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	flex-wrap: nowrap;

	day {
		flex-shrink: 0;
		padding-bottom: 10px;
		box-sizing: border-box;
		.calendaricon {
			height: $text_small;
			margin-right: 0.3em;
			width: $text_small;
		}
		&.day-hidden {
			display: none;
		}
		.dateHeader {
			align-items: center;
			border-bottom: 1px solid $gray;
			display: flex;
			font-size: $text_subheader;
			justify-content: space-between;
			width: 100%;
			.headerWeather {
				align-items: center;
				display: flex;
				.headerWeatherPrepArea {
					display: flex;
					margin-right: 0.2em;
					.weatherPrep {
						color: grey;
						display: flex;
						flex: 1;
						.headerWeatherIconPrep {
							height: $text_subheader;
							margin: 0 0.25em;
							width: $text_subheader;
						}
					}
				}
				.headerWeatherTempIcon {
					height: $text_subheader;
					opacity: 0.4;
					width: $text_subheader;
				}
			}
		}
		.event, .dinner, .birthday {
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			margin-bottom: 1px;
			margin-top: 1px;

			.event-time {
				color: $gray;
				font-variant-numeric: tabular-nums;
				display: flex;
				align-items: baseline;
				justify-content: flex-start;
				margin-right: 10px;
				font-size: 13pt;
				width: 123px;
				overflow: hidden;
			}
		}
	}
}

.hytta-weather {
	color: $gray;
	font-size: $text_small;
	margin-left: 0.5em;
}

.number {
	font-variant-numeric: tabular-nums;
	font-size: 13pt;
}

nowcast {
	grid-area: weather_nowcast;
	display: flex;
	flex: 1;
	margin-top: 2em;
	margin-bottom: 2em;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	.weather {
		position: relative;
		display: flex;
		flex: 1;
		width: 100%;
		flex-wrap: nowrap;
		.zeroLine {
			position: absolute;
			width: 100%;
			border-bottom: 1px solid $light_gray;
		}
		.time {
			position: absolute;
			bottom: 15px;
		}
		:last-child {
			border-right: none;
		}
		forecast {
			flex: 1;
			position: relative;
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			margin: 0;
			height: 90%;
			border-right: 1px solid $light_gray;
			.time {
				position: absolute;
				bottom: -40px;
			}
			:last-child {
				border-right: none;
			}
			.forecastMovablePart {
				transform: translateY(80px);
				display: flex;
				position: absolute;
				bottom: 0;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				height: 120px;
				.forecastProb {
					color: $gray;
					font-size: $text_small;
					text-align: center;
				}
				.weather_icon {
					height: 64px;
					width: 64px;
				}

				.hytta-weather {
					color: $gray;
					font-size: $text_small;
					margin-left: 0.5em;
				}
			}
		}
	}
}

footer {
	grid-area: bottom-boxes;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex: 1;
	.footerBox {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		flex: 1;
		.footerTable {
			font-size: 13pt;
			td {
				width: 120px;
				padding-right: 10px;
			}
		}
	}
}
