package views

import (
	"strconv"

	"github.com/kvasbo/tellulf-v9/internal/view"
)

templ HourlyForecast(h view.HourlyForecast) {
	if len(h.Forecasts) == 0 {
		<div class="weather"></div>
	} else {
		<div class="weather">
			for _, f := range h.Forecasts {
				@forecastHour(h, f)
			}
			<div class="minTemp">{ h.Min }</div>
			<div class="maxTemp">{ h.Max }</div>
		</div>
	}
}

templ forecastHour(h view.HourlyForecast, f view.ForecastHour) {
	<tl-forecast class={ templ.KV("raining", f.Raining) }>
		<div class="zeroLine" style={ "bottom: " + h.ZeroLineBottom + "%; display: " + h.DisplayZeroLine + ";" }></div>
		<div class="rain" style={ "height: " + f.RainHeight + "%;" }></div>
		if f.Raining {
			<img class="rainWave" alt="rain" src={ f.WaveSrc } style={ "bottom: " + f.RainHeight + "%;" }/>
		}
		<div class="forecastMovablePart" style={ "bottom: " + f.Bottom + "%;" }>
			if f.IconSrc != "" {
				<img class="weather_icon" alt="symbol" src={ f.IconSrc } style="filter: url(#shape-shadow)"/>
			}
			<div class="temperature">{ f.Temperature }&deg;</div>
			<div class="forecastProb">
				if f.ShowProb {
					{ f.Probability }%
					<br/>
					{ f.Amount }mm
				} else {
					&nbsp;
					<br/>
					&nbsp;
				}
			</div>
			if f.ShowWind {
				<div class="wind-indicator">
					<svg class="wind-arrow" viewBox="0 0 24 24" style={ "transform: rotate(" + f.WindDirection + "deg);" }>
						<path d="M12 2 L8 10 L11 9 L11 22 L13 22 L13 9 L16 10 Z" fill="currentColor"></path>
					</svg>
					<span class="wind-speed">
						{ f.WindSpeed }
						if f.ShowGust {
							&nbsp;({ f.WindGust })
						}
					</span>
				</div>
			}
		</div>
		<div class="time">{ strconv.Itoa(f.Hour) }</div>
	</tl-forecast>
}
